# History files
.Rhistory
.RData
# Example code in package build process
*-Ex.R

#Tangled code
midasr-user-guide.R

*.sty
*.cls
*guide-*

#Sweave unnecessary files
*.aux
*.log
*.out
*.tex
*.bbl
*.blg
#Emacs and knitr files
*.#
*.Rt
*.swp
cache/
figure/
